body{
    background: #1f1e1e;
    color: #fff;
    overflow: hidden;
}
h1{
    text-align: center;
}

.todo-wrapper{
    background: #353434;
    padding: 2%;
    width: fit-content;
    margin:3% auto;
    max-height: 100vh;
}

.todo-input{
    display: flex;
    
}

.todo-input-item{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    
}

.todo-input-item label{
    font-weight: 900;
    font-size: 2em;
}

.todo-input-item input{
    width: 40vw;
    height: 5vh;
}

.todo-input-item input:focus{
    outline: none;
   /* border: red; */
}

.primaryBtn{
    margin-top: 5em;
    background: green;
     width: 10vw;
    height: 5.6vh;
    cursor: pointer;
}

.secondaryBtn{
     margin-top: 5em;
    background: green;
     width: fit-content;
    height: 5.6vh;
    cursor: pointer;
}
.btn-area{
    margin-top: 3em;
    
}
.btn-area button{
    width: 10vw;
    height: 5vh;
    
}

.active{
    background: green;
}

.todo-list{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #3534;
    margin-top: 2em;
}
.todo-list-item{
    /* display: flex; 
     flex-direction: column; */
}
.todo-list-item h3{
    font-size:2em ;
    color: green;
}
.todo-list-item p{
      font-size:2em ;
}

.icon{
    font-size: 3em;
    /* margin-top: 3em; */
}

